@model IEnumerable<TreSorelle.Models.Produto>
@{
  ViewData["Title"] = "Cardápio";
}
<!-- Page Section Start -->
<div class="page-container">
  <div class="container">
    <div class="row">

      @foreach (var produto in Model)
      {
        <div class="col-md-6 col-sm-6 col-sx-12">
          <div class="menu-item">
            <div class="menu-left">
              <img src="@produto.Foto" alt="@produto.Nome">
            </div>
            <div class="menu-right">
              <span class="price">R$ @produto.Preco</span>
              <h4>@produto.Nome</h4>
              <div class="rating">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i>
              </div>
              <p>@produto.DescricaoResumida</p>
            </div>
          </div>
        </div>
      }

    </div>
  </div>
</div>
<!-- Page Section End -->
